<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>User:{{emp_id}}</title>
</head>
<body style="overflow: hidden;">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid align-middle">
            <div class="d-flex flex-row mb-3">
                <h4><span class="badge bg-secondary">{{ emp_id }}'s Dashboard</span></h4>
            </div>
            <div class="d-flex flex-row-reverse">
                <div class="p-2"><a href="/logout" class="btn btn-outline-primary">logout</a></div>
                <div class="p-2">
                    <form action="{{url_for('admin_home')}}" class="row g-3" method="post">
                        <div class="row-12">
                          <button class="btn btn-outline-primary" id="loginBtn" type="submit">Summary</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="alert alert-info" role="alert">
        Creating a new venue.
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card p-3 justify-content-center" style="width: 18rem;">
            <form action="/admin/dashboard" class="row g-3" method="post" id="create_show">
                <div class="row-md-6">
                    <div class="input-group">
                      <input type="text" name="sname" class="form-control" placeholder="Show Name" required>
                    </div>
                    <br>
                    <div class="row-md-6">
                        <input type="text" name="stag" class="form-control" placeholder="Show tag" required>
                    </div>
                    <br>
                    <div class="row-md-6">
                        <input type="text" name="img_name" class="form-control" placeholder="enter img name" required>
                    </div>
                    <br>
                    <div class="row-md-6">
                        <input type="number" name="sprice" class="form-control" placeholder="Show price" required>
                    </div>
                    <br>
                    <div class="row-md-6">
                        <input type="time" name="sstime" class="form-control" placeholder="start time" required>
                    </div>
                    <br>
                    <div class="row-md-6">
                        <input type="time" name="setime" class="form-control" placeholder="end time" required>
                    </div>
                    <br>
                    <div class="row-md-6">
                        <input type="hidden" name="operation" value="create_show">
                    </div>
                    <div class="row-md-6">
                        <input id="allvenues" list="browsers" class="form-control">
                        <br>
                        <datalist id="browsers">
                            {% for venue in venues %}
                            <option value="{{ venue.venue_name }}"></option>
                            {% endfor %}
                        </datalist>
                        <button class="btn btn-secondary" onclick="getSelectedOptions(event)">add venue</button>
                    </div>
                    <br>
                    <div id="parent">

                    </div>
                    <input type="hidden" id="addedvenues" name="addedvenues">
                    <div class="row-12 d-flex justify-content-center">
                        <button class="btn btn-outline-secondary" id="loginBtn" onclick="sendSelection(event)" type="submit">save</button>
                    <div class="0">
                </div>
            </form>
        </div>
    </div>    
</body>
<script>
const selectedVenues=new Array();
function getSelectedOptions(event) {
    var venue=document.getElementById("allvenues");
    selectedVenues.push(venue.value); 
    console.log(selectedVenues)
    event.preventDefault(); // prevents the form from submitting
}
function sendSelection(){
    var inputElement = document.createElement("input");
    inputElement.setAttribute("type", "hidden");
    inputElement.value = selectedVenues.toString();
    inputElement.name = "addedvenues";
    document.getElementById("parent").appendChild(inputElement);
    document.getElementById("create_show").submit();
}
</script>
</html>